:root{
    --red: #E50914;
    --black: #141414;
    --grey: #AAAAAA;
    --white: #FFFFFF;
    --font-TimesNewsRoman: 'Arial', Times, serif;
    --font-ArialBlack: 'Arial Black', times;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Basic elements*/
body{
    background: var(--black);
    font-family: var(--font-TimesNewsRoman);
    color: var(--white)
}

header .container{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
}

header .logo{
margin-left: 5px;
color: var(--red);
font-family: var(--font-ArialBlack);
font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: var(--grey);
    margin-right: 10px;
}

header nav a:hover{
    color: var(--white);
}

/*principal-movie*/
.principal-movie{
    font-size: 16;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('../img/cover.jpg');
    background-size: cover;
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.principal-movie .description{
    margin-top: 10px;
    margin-bottom: 40px;
}

.title{
    margin-top: 20%;
    font-size: 40px;
    font-family: 'Trebuchet MS', sans-serif;
}

.button{
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: var(--white);
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: 1s ease all;
}

.button:hover{
    background-color: var(--white);
    color: var(--black);
}

.button i{
    margin-right: 8px;
}

.container{
    margin-left: 30px;
}

.principal-movie .container{
    width: 30%;
}

.box-movie{
    height: 100%;
    width: 100%;
    display: block;
}

.carousel-movies{
    margin-top: 10px;
}